<div class="container" ng-controller="WelcomeController">
    <div class="col-md-offset-2">
        <div>
            <h1>{{heading + message}}</h1>
            <input ng-model="name" type="text" placeholder="Enter your name here">
        </div>
        <button ng-click="updateMessage()"  class="btn btn-info">Hello</button>
        <button ng-click="goodByeMessage()" class="btn btn-info">Goodbye</button>
        <button ng-click="grabinfo()"       class="btn btn-info">Get Info</button>

        <div ng-repeat="someone in persons | limitTo: 3">
            <h3>{{someone.name}}</h3>
            <p>{{someone.money | currency}}</p>
        </div>
    </div>
</div>